*.swp
main.aux
main.fdb_latexmk
main.fls
main.log
main.pdf
main_long.pdf
main.bbl
main.blg
main_socg.pdf
.DS_Store
new.pdf
*.synctex.gz
*.log
.stash
*log
code
*.bak**
gardner-qualifying.pdf
*.fuk
scripts/figures
scripts/.data
scripts/batches
scripts/data
*__pycache__
*-old*
